﻿
@{
    Layout = null;
    if (Session["userid"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Homepage</h1>
        @*<h3>username: @Session["userName"].ToString()</h3>*@
        <a href="@Url.Action("LogOut","Login")">LogOut</a>
    </div>
</body>
</html>
